# notebook概要：提交多类方法的预测结果
## 1、最简单的预测

In [38]:
#!/usr/bin/env python
# coding=utf-8
# -------- import basic package --------
%pylab inline
import pdb
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import warnings
import random
import datetime as dt
import matplotlib.pylab as plt

PATH = 'F:/codeGit/dataset/koubei/dataset/'
FILE_SHOP = 'shop_info.csv'
FILE_PAY = 'df_shopPay.csv'
FILE_VIEW = 'user_view.csv'

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['plt', 'random']
`%matplotlib` prevents importing * from pylab and numpy

In [39]:
df_shop = pd.read_csv(PATH + FILE_SHOP)
print df_shop[:10]

   shop_id city_name  location_id  per_pay  score  comment_cnt  shop_level  \
0        1        湖州          885        8    4.0         12.0           2
1        2       哈尔滨           64       19    NaN          NaN           1
2        3        南昌          774        5    3.0          2.0           0
3        4        天津          380       18    NaN          NaN           1
4        5        杭州          263        2    2.0          2.0           0
5        6        大连         1139       13    3.0          1.0           0
6        7        绍兴          145       13    3.0          9.0           2
7        8        杭州          234       16    3.0          1.0           0
8        9        杭州         1120       15    4.0          0.0           1
9       10        孝感           98       10    NaN          NaN           0

  cate_1_name cate_2_name cate_3_name
0          美食        休闲茶饮       饮品/甜点
1       超市便利店          超市         NaN
2          美食        休闲茶饮          奶茶
3       超市便利店          超市         NaN
4          美食        休闲食品        生鲜水果
5          美食        烘焙糕点          面包
6          美食          快餐        西式快餐
7          美食        休闲食品        生鲜水果
8       超市便利店          超市         NaN
9       超市便利店          超市         NaN

In [68]:
df_shopPay = pd.read_csv(PATH + FILE_PAY)
print df_shopPay[:10]
print len(df_shopPay)

   shop_id        date  user_pay_cnt
0        1  2015-10-10           188
1        1  2015-10-11           272
2        1  2015-10-12           257
3        1  2015-10-13           239
4        1  2015-10-14           277
5        1  2015-10-15           227
6        1  2015-10-16           242
7        1  2015-10-17           293
8        1  2015-10-18           291
9        1  2015-10-19           256
599275

In [41]:
df_shopPay['time'] = pd.to_datetime(df_shopPay['date'], format = '%Y-%m-%d')

In [36]:
day_dt = pd.to_datetime('2016.10.31') - pd.to_datetime('2015-07-01')
days = day_dt.days + 1
time_begin = pd.to_datetime('2015-07-01')
x = [(time_begin + dt.timedelta(i)).strftime('%Y-%m-%d') for i in range(days)]
print x

df_temp = pd.DataFrame()
date_std = sort([(time_begin + dt.timedelta(i)).strftime('%Y-%m-%d') for i in range(days)])
for shop in range(2000):
    df_date = pd.DataFrame(sort(date_std), columns = ['date'])
    df_date['shop_id'] = shop + 1 
    df_temp = pd.concat([df_temp, df_date], axis = 0)
    df_temp['temp'] = 0
print df_temp

['2015-07-01', '2015-07-02', '2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11', '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15', '2015-07-16', '2015-07-17', '2015-07-18', '2015-07-19', '2015-07-20', '2015-07-21', '2015-07-22', '2015-07-23', '2015-07-24', '2015-07-25', '2015-07-26', '2015-07-27', '2015-07-28', '2015-07-29', '2015-07-30', '2015-07-31', '2015-08-01', '2015-08-02', '2015-08-03', '2015-08-04', '2015-08-05', '2015-08-06', '2015-08-07', '2015-08-08', '2015-08-09', '2015-08-10', '2015-08-11', '2015-08-12', '2015-08-13', '2015-08-14', '2015-08-15', '2015-08-16', '2015-08-17', '2015-08-18', '2015-08-19', '2015-08-20', '2015-08-21', '2015-08-22', '2015-08-23', '2015-08-24', '2015-08-25', '2015-08-26', '2015-08-27', '2015-08-28', '2015-08-29', '2015-08-30', '2015-08-31', '2015-09-01', '2015-09-02', '2015-09-03', '2015-09-04', '2015-09-05', '2015-09-06', '2015-09-07', '2015-09-08', '2015-09-09', '2015-09-10', '2015-09-11', '2015-09-12', '2015-09-13', '2015-09-14', '2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18', '2015-09-19', '2015-09-20', '2015-09-21', '2015-09-22', '2015-09-23', '2015-09-24', '2015-09-25', '2015-09-26', '2015-09-27', '2015-09-28', '2015-09-29', '2015-09-30', '2015-10-01', '2015-10-02', '2015-10-03', '2015-10-04', '2015-10-05', '2015-10-06', '2015-10-07', '2015-10-08', '2015-10-09', '2015-10-10', '2015-10-11', '2015-10-12', '2015-10-13', '2015-10-14', '2015-10-15', '2015-10-16', '2015-10-17', '2015-10-18', '2015-10-19', '2015-10-20', '2015-10-21', '2015-10-22', '2015-10-23', '2015-10-24', '2015-10-25', '2015-10-26', '2015-10-27', '2015-10-28', '2015-10-29', '2015-10-30', '2015-10-31', '2015-11-01', '2015-11-02', '2015-11-03', '2015-11-04', '2015-11-05', '2015-11-06', '2015-11-07', '2015-11-08', '2015-11-09', '2015-11-10', '2015-11-11', '2015-11-12', '2015-11-13', '2015-11-14', '2015-11-15', '2015-11-16', '2015-11-17', '2015-11-18', '2015-11-19', '2015-11-20', '2015-11-21', '2015-11-22', '2015-11-23', '2015-11-24', '2015-11-25', '2015-11-26', '2015-11-27', '2015-11-28', '2015-11-29', '2015-11-30', '2015-12-01', '2015-12-02', '2015-12-03', '2015-12-04', '2015-12-05', '2015-12-06', '2015-12-07', '2015-12-08', '2015-12-09', '2015-12-10', '2015-12-11', '2015-12-12', '2015-12-13', '2015-12-14', '2015-12-15', '2015-12-16', '2015-12-17', '2015-12-18', '2015-12-19', '2015-12-20', '2015-12-21', '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-25', '2015-12-26', '2015-12-27', '2015-12-28', '2015-12-29', '2015-12-30', '2015-12-31', '2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04', '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08', '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12', '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-16', '2016-01-17', '2016-01-18', '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22', '2016-01-23', '2016-01-24', '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28', '2016-01-29', '2016-01-30', '2016-01-31', '2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04', '2016-02-05', '2016-02-06', '2016-02-07', '2016-02-08', '2016-02-09', '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-13', '2016-02-14', '2016-02-15', '2016-02-16', '2016-02-17', '2016-02-18', '2016-02-19', '2016-02-20', '2016-02-21', '2016-02-22', '2016-02-23', '2016-02-24', '2016-02-25', '2016-02-26', '2016-02-27', '2016-02-28', '2016-02-29', '2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04', '2016-03-05', '2016-03-06', '2016-03-07', '2016-03-08', '2016-03-09', '2016-03-10', '2016-03-11', '2016-03-12', '2016-03-13', '2016-03-14', '2016-03-15', '2016-03-16', '2016-03-17', '2016-03-18', '2016-03-19', '2016-03-20', '2016-03-21', '2016-03-22', '2016-03-23', '2016-03-24', '2016-03-25', '2016-03-26', '2016-03-27', '2016-03-28', '2016-03-29', '2016-03-30', '2016-03-31', '2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04', '2016-04-05', '2016-04-06', '2016-04-07', '2016-04-08', '2016-04-09', '2016-04-10', '2016-04-11', '2016-04-12', '2016-04-13', '2016-04-14', '2016-04-15', '2016-04-16', '2016-04-17', '2016-04-18', '2016-04-19', '2016-04-20', '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24', '2016-04-25', '2016-04-26', '2016-04-27', '2016-04-28', '2016-04-29', '2016-04-30', '2016-05-01', '2016-05-02', '2016-05-03', '2016-05-04', '2016-05-05', '2016-05-06', '2016-05-07', '2016-05-08', '2016-05-09', '2016-05-10', '2016-05-11', '2016-05-12', '2016-05-13', '2016-05-14', '2016-05-15', '2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19', '2016-05-20', '2016-05-21', '2016-05-22', '2016-05-23', '2016-05-24', '2016-05-25', '2016-05-26', '2016-05-27', '2016-05-28', '2016-05-29', '2016-05-30', '2016-05-31', '2016-06-01', '2016-06-02', '2016-06-03', '2016-06-04', '2016-06-05', '2016-06-06', '2016-06-07', '2016-06-08', '2016-06-09', '2016-06-10', '2016-06-11', '2016-06-12', '2016-06-13', '2016-06-14', '2016-06-15', '2016-06-16', '2016-06-17', '2016-06-18', '2016-06-19', '2016-06-20', '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-24', '2016-06-25', '2016-06-26', '2016-06-27', '2016-06-28', '2016-06-29', '2016-06-30', '2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04', '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08', '2016-07-09', '2016-07-10', '2016-07-11', '2016-07-12', '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-16', '2016-07-17', '2016-07-18', '2016-07-19', '2016-07-20', '2016-07-21', '2016-07-22', '2016-07-23', '2016-07-24', '2016-07-25', '2016-07-26', '2016-07-27', '2016-07-28', '2016-07-29', '2016-07-30', '2016-07-31', '2016-08-01', '2016-08-02', '2016-08-03', '2016-08-04', '2016-08-05', '2016-08-06', '2016-08-07', '2016-08-08', '2016-08-09', '2016-08-10', '2016-08-11', '2016-08-12', '2016-08-13', '2016-08-14', '2016-08-15', '2016-08-16', '2016-08-17', '2016-08-18', '2016-08-19', '2016-08-20', '2016-08-21', '2016-08-22', '2016-08-23', '2016-08-24', '2016-08-25', '2016-08-26', '2016-08-27', '2016-08-28', '2016-08-29', '2016-08-30', '2016-08-31', '2016-09-01', '2016-09-02', '2016-09-03', '2016-09-04', '2016-09-05', '2016-09-06', '2016-09-07', '2016-09-08', '2016-09-09', '2016-09-10', '2016-09-11', '2016-09-12', '2016-09-13', '2016-09-14', '2016-09-15', '2016-09-16', '2016-09-17', '2016-09-18', '2016-09-19', '2016-09-20', '2016-09-21', '2016-09-22', '2016-09-23', '2016-09-24', '2016-09-25', '2016-09-26', '2016-09-27', '2016-09-28', '2016-09-29', '2016-09-30', '2016-10-01', '2016-10-02', '2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06', '2016-10-07', '2016-10-08', '2016-10-09', '2016-10-10', '2016-10-11', '2016-10-12', '2016-10-13', '2016-10-14', '2016-10-15', '2016-10-16', '2016-10-17', '2016-10-18', '2016-10-19', '2016-10-20', '2016-10-21', '2016-10-22', '2016-10-23', '2016-10-24', '2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28', '2016-10-29', '2016-10-30', '2016-10-31']
           date  shop_id  temp
0    2015-07-01        1     0
1    2015-07-02        1     0
2    2015-07-03        1     0
3    2015-07-04        1     0
4    2015-07-05        1     0
5    2015-07-06        1     0
6    2015-07-07        1     0
7    2015-07-08        1     0
8    2015-07-09        1     0
9    2015-07-10        1     0
10   2015-07-11        1     0
11   2015-07-12        1     0
12   2015-07-13        1     0
13   2015-07-14        1     0
14   2015-07-15        1     0
15   2015-07-16        1     0
16   2015-07-17        1     0
17   2015-07-18        1     0
18   2015-07-19        1     0
19   2015-07-20        1     0
20   2015-07-21        1     0
21   2015-07-22        1     0
22   2015-07-23        1     0
23   2015-07-24        1     0
24   2015-07-25        1     0
25   2015-07-26        1     0
26   2015-07-27        1     0
27   2015-07-28        1     0
28   2015-07-29        1     0
29   2015-07-30        1     0
..          ...      ...   ...
459  2016-10-02     2000     0
460  2016-10-03     2000     0
461  2016-10-04     2000     0
462  2016-10-05     2000     0
463  2016-10-06     2000     0
464  2016-10-07     2000     0
465  2016-10-08     2000     0
466  2016-10-09     2000     0
467  2016-10-10     2000     0
468  2016-10-11     2000     0
469  2016-10-12     2000     0
470  2016-10-13     2000     0
471  2016-10-14     2000     0
472  2016-10-15     2000     0
473  2016-10-16     2000     0
474  2016-10-17     2000     0
475  2016-10-18     2000     0
476  2016-10-19     2000     0
477  2016-10-20     2000     0
478  2016-10-21     2000     0
479  2016-10-22     2000     0
480  2016-10-23     2000     0
481  2016-10-24     2000     0
482  2016-10-25     2000     0
483  2016-10-26     2000     0
484  2016-10-27     2000     0
485  2016-10-28     2000     0
486  2016-10-29     2000     0
487  2016-10-30     2000     0
488  2016-10-31     2000     0

[978000 rows x 3 columns]

KeyError: "['date' 'view_cnt'] not in index"

In [69]:
df_shop_fillna = pd.merge(
    df_shopPay[['shop_id', 'date', 'user_pay_cnt']],
    df_temp,
    on = ['shop_id', 'date'], how = 'right'
 ).reset_index()
df_shop_fillna = df_shop_fillna[['shop_id', 'date', 'user_pay_cnt']].fillna(0)
df_shop_fillna['shop_id'] = df_shop_fillna['shop_id'].apply(lambda x : int(x))
print df_shop_fillna
df_shop_fillna.to_csv(PATH + 'df_shop_fillna1.csv', index = False, mode = 'w')

        shop_id        date  user_pay_cnt
0             1  2015-10-10         188.0
1             1  2015-10-11         272.0
2             1  2015-10-12         257.0
3             1  2015-10-13         239.0
4             1  2015-10-14         277.0
5             1  2015-10-15         227.0
6             1  2015-10-16         242.0
7             1  2015-10-17         293.0
8             1  2015-10-18         291.0
9             1  2015-10-19         256.0
10            1  2015-10-20         262.0
11            1  2015-10-21         271.0
12            1  2015-10-22         260.0
13            1  2015-10-23         240.0
14            1  2015-10-24         291.0
15            1  2015-10-25         286.0
16            1  2015-10-26         264.0
17            1  2015-10-27         295.0
18            1  2015-10-28         310.0
19            1  2015-10-29         212.0
20            1  2015-10-30         331.0
21            1  2015-10-31         347.0
22            1  2015-11-01         381.0
23            1  2015-11-02         332.0
24            1  2015-11-03         404.0
25            1  2015-11-04         392.0
26            1  2015-11-05         496.0
27            1  2015-11-06         430.0
28            1  2015-11-07         351.0
29            1  2015-11-08         288.0
...         ...         ...           ...
977970     2000  2016-04-10           0.0
977971     2000  2016-04-11           0.0
977972     2000  2016-04-12           0.0
977973     2000  2016-04-13           0.0
977974     2000  2016-04-14           0.0
977975     2000  2016-04-15           0.0
977976     2000  2016-04-16           0.0
977977     2000  2016-04-17           0.0
977978     2000  2016-04-18           0.0
977979     2000  2016-04-19           0.0
977980     2000  2016-04-20           0.0
977981     2000  2016-04-21           0.0
977982     2000  2016-04-22           0.0
977983     2000  2016-04-23           0.0
977984     2000  2016-04-24           0.0
977985     2000  2016-04-25           0.0
977986     2000  2016-04-26           0.0
977987     2000  2016-04-27           0.0
977988     2000  2016-04-28           0.0
977989     2000  2016-04-29           0.0
977990     2000  2016-04-30           0.0
977991     2000  2016-05-01           0.0
977992     2000  2016-05-02           0.0
977993     2000  2016-05-03           0.0
977994     2000  2016-05-04           0.0
977995     2000  2016-05-05           0.0
977996     2000  2016-09-04           0.0
977997     2000  2016-09-05           0.0
977998     2000  2016-09-06           0.0
977999     2000  2016-09-07           0.0

[978000 rows x 3 columns]

In [70]:
df_shopPay = df_shop_fillna
df_shopPay.columns = ['shop_id', 'time', 'user_pay_cnt']
df_shopPay['time'] = pd.to_datetime(df_shopPay['time'], format = '%Y-%m-%d')

In [71]:
train_date_begin = '2016-10-18'
df_shopPay1 = df_shopPay[(df_shopPay.time >= '2016-10-25') & (df_shopPay.time <= '2016-10-31')]
df_shopPay2 = df_shopPay[(df_shopPay.time >= '2016-10-18') & (df_shopPay.time <= '2016-10-24')]
df_shopPay3 = df_shopPay[(df_shopPay.time >= '2016-10-11') & (df_shopPay.time <= '2016-10-17')]
print df_shopPay1.time.unique()
print df_shopPay2.time.unique()
print df_shopPay3.time.unique()
print len(df_shopPay1)
print len(df_shopPay2)
print len(df_shopPay3)

['2016-10-25T08:00:00.000000000+0800' '2016-10-26T08:00:00.000000000+0800'
 '2016-10-27T08:00:00.000000000+0800' '2016-10-28T08:00:00.000000000+0800'
 '2016-10-29T08:00:00.000000000+0800' '2016-10-30T08:00:00.000000000+0800'
 '2016-10-31T08:00:00.000000000+0800']
['2016-10-18T08:00:00.000000000+0800' '2016-10-19T08:00:00.000000000+0800'
 '2016-10-20T08:00:00.000000000+0800' '2016-10-21T08:00:00.000000000+0800'
 '2016-10-22T08:00:00.000000000+0800' '2016-10-23T08:00:00.000000000+0800'
 '2016-10-24T08:00:00.000000000+0800']
['2016-10-11T08:00:00.000000000+0800' '2016-10-12T08:00:00.000000000+0800'
 '2016-10-13T08:00:00.000000000+0800' '2016-10-14T08:00:00.000000000+0800'
 '2016-10-15T08:00:00.000000000+0800' '2016-10-16T08:00:00.000000000+0800'
 '2016-10-17T08:00:00.000000000+0800']
14000
14000
14000

In [77]:
results = []
for shop_cur in df_shop['shop_id']:
    df_temp1 = df_shopPay1[df_shopPay1.shop_id == shop_cur]
    df_temp2 = df_shopPay2[df_shopPay2.shop_id == shop_cur]
    df_temp3 = df_shopPay3[df_shopPay3.shop_id == shop_cur]
    
    noise = [random.randint(0,1) for i in range(7)]
    df_temp1.index = df_temp1.time; df_temp2.index = df_temp2.time; df_temp3.index = df_temp3.time
    df_temp1 = df_temp1.sort_index(); df_temp2 = df_temp2.sort_index(); df_temp3 = df_temp3.sort_index()
    result = [shop_cur]

    temp1 = (df_temp1['user_pay_cnt'].values + noise).tolist()
    temp2 = (df_temp2['user_pay_cnt'].values + noise).tolist()
    temp3 = (df_temp3['user_pay_cnt'].values + noise).tolist()
    
    for i in range(7):
        if temp1[i] < 2:
            if temp2[i] > 2 & temp3[i] > 2:
                temp1[i] = int((temp2[i] + temp3[i]) / 2)
            elif temp2[i] <= 2:
                temp1[i] = temp3[i]
            else:
                temp1[i] = temp2[i]
            
    result.extend(temp1)
    meanVal = [x * 1.1 for x in temp1]
    meanVal = meanVal.tolist()
    result.extend(meanVal)
    result = [int(elem) for elem in result]
    result[7] = result[14]
    results.append(result)
pd.DataFrame(results).to_csv(PATH + 'submiss_2017-03-09.csv', index = False, header = False, mode = 'w')

TypeError: can't multiply sequence by non-int of type 'float'

## 2、回归预测