In [1]:
#!/usr/bin/env python
# coding=utf-8
# -------- import basic package --------
%pylab inline
import pdb
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import warnings
import random
from datetime import datetime
import matplotlib.pylab as plt

PATH = 'F:/codeGit/dataset/Purchase&Redemption/'
FILE_BANK = 'mfd_bank_shibor.csv'
FILE_SHARE = 'mfd_day_share_interest.csv'
FILE_USER_BALANCE = 'user_balance_table.csv'
FILE_USER_PROFILE = 'user_profile_table.csv'

Populating the interactive namespace from numpy and matplotlib

In [7]:
df_userBalan = pd.read_csv(PATH + FILE_USER_BALANCE)
print df_userBalan[:10]

   user_id  report_date  tBalance  yBalance  total_purchase_amt  \
0        1     20140805     20385     20383                   2
1        1     20140808     20391     20389                   2
2        1     20140811     20397     20395                   2
3        1     20140814     20403     20401                   2
4        1     20140817     20409     20407                   2
5        1     20140820     20415     20413                   2
6        1     20140823     20421     20419                   2
7        1     20140826     20427     20425                   2
8        1     20140829     20433     20431                   2
9        1     20140830     20435     20433                   2

   direct_purchase_amt  purchase_bal_amt  purchase_bank_amt  total_redeem_amt  \
0                    0                 0                  0                 0
1                    0                 0                  0                 0
2                    0                 0                  0                 0
3                    0                 0                  0                 0
4                    0                 0                  0                 0
5                    0                 0                  0                 0
6                    0                 0                  0                 0
7                    0                 0                  0                 0
8                    0                 0                  0                 0
9                    0                 0                  0                 0

   consume_amt  transfer_amt  tftobal_amt  tftocard_amt  share_amt  category1  \
0            0             0            0             0          2        NaN
1            0             0            0             0          2        NaN
2            0             0            0             0          2        NaN
3            0             0            0             0          2        NaN
4            0             0            0             0          2        NaN
5            0             0            0             0          2        NaN
6            0             0            0             0          2        NaN
7            0             0            0             0          2        NaN
8            0             0            0             0          2        NaN
9            0             0            0             0          2        NaN

   category2  category3  category4
0        NaN        NaN        NaN
1        NaN        NaN        NaN
2        NaN        NaN        NaN
3        NaN        NaN        NaN
4        NaN        NaN        NaN
5        NaN        NaN        NaN
6        NaN        NaN        NaN
7        NaN        NaN        NaN
8        NaN        NaN        NaN
9        NaN        NaN        NaN

In [8]:
df_userBalan = df_userBalan[["user_id", "report_date", "total_purchase_amt", "consume_amt", "transfer_amt"]]
df_userBalan['time'] = pd.to_datetime(df_userBalan['report_date'], format = '%Y%m%d')
df_userBalan = df_userBalan.drop(['report_date'], axis = 1)
df_userBalan['year_month'] = df_userBalan['time'].dt.strftime('%Y-%m')
df_userBalan['day'] = df_userBalan['time'].dt.day
df_userBalan['weekday'] = df_userBalan['time'].dt.dayofweek
df_userBalan.set_index(['user_id', 'year_month'])
print df_userBalan[:5]

   user_id  total_purchase_amt  consume_amt  transfer_amt       time  \
0        1                   2            0             0 2014-08-05
1        1                   2            0             0 2014-08-08
2        1                   2            0             0 2014-08-11
3        1                   2            0             0 2014-08-14
4        1                   2            0             0 2014-08-17

  year_month  day  weekday
0    2014-08    5        1
1    2014-08    8        4
2    2014-08   11        0
3    2014-08   14        3
4    2014-08   17        6